.spacer {
  flex: 1 1 auto;
}

:host {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "top-bar"
    "side-nav";

  > mat-tool-bar {
    grid-area: "top-bar";
  }

  > mat-sidenav-container {
    grid-area: "side-nav";
    height: 100%;

    > #layout-right-sidenav {
      padding: 1em;
      height: fit-content;

      > button {
        margin: 1em;
      }
    }

    > mat-sidenav {
      overflow-y: auto;
    }

    > mat-sidenav-content {
      overflow-y: auto;
      padding: 1em;
    }
  }
}

.avatar {
  aspect-ratio: 1 / 1;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
