<mat-toolbar
  [color]="isAdminRoute ? 'accent' : 'primary'"
>
  <button mat-icon-button (click)="leftSideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="website-name">
    School website {{isAdminRoute ? '- Administration' : ''}}
  </span>

  <span class="spacer"></span>

  <ng-container
    *ngIf="(user && user.isSecretaryOrAdministrator())"
  >
    <a
      [routerLink]="isAdminRoute ? 'home' : 'admin'"
      mat-mini-fab
      [color]="isAdminRoute ? 'primary' : 'accent'"
    >
      <mat-icon>
        {{ isAdminRoute ? 'home' : 'shield' }}
      </mat-icon>
    </a>
  </ng-container>

  <button
    mat-icon-button
    color="white"
    (click)="rightSideNav.toggle()"
  >
    <mat-icon>
      <img
        *ngIf="user && user.picture; else elseBlock"
        [src]="user.picture"
        alt="user avatar"
        class="avatar"
      />
      <ng-template
        #elseBlock
      >
        person
      </ng-template>
    </mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container
  hasBackdrop="false"
>
  <mat-sidenav
    #leftSideNav
    id="layout-left-sidenav"
    mode="side"
    role="navigation"
  >
    <mat-nav-list
      *ngFor="let page of leftDrawerPages"
    >
      <a
        mat-list-item
        [routerLink]="page.path"
      >
        {{ page.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav
    #rightSideNav
    id="layout-right-sidenav"
    mode="over"
    position="end"
    role="navigation"
  >
    <button
      mat-raised-button
      (click)="logout()"
    >
      <mat-icon>
        logout
      </mat-icon>
      Logout

    </button>

  </mat-sidenav>

</mat-sidenav-container>
