<mat-toolbar
  [color]="isAdminRoute ? 'accent' : 'primary'"
>
  <button mat-icon-button (click)="leftSideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    School website {{isAdminRoute ? '- Administration' : ''}}
  </span>

  <span class="spacer"></span>

  <ng-container
    *ngIf="(user && user.isSecretaryOrAdministrator())"
  >
    <a
      [routerLink]="isAdminRoute ? 'home' : 'admin'"
      mat-mini-fab
      [color]="isAdminRoute ? 'primary' : 'accent'"
    >
      <mat-icon>
        {{ isAdminRoute ? 'home' : 'shield' }}
      </mat-icon>
    </a>
  </ng-container>

  <button
    mat-icon-button
    color="primary"
    (click)="rightSideNav.toggle()"
  >
    <mat-icon>
      <img
        [src]="(user) ? user.picture : ''"
        alt="user avatar"
        class="avatar"
      />
    </mat-icon>

  </button>

</mat-toolbar>

<mat-sidenav-container
  hasBackdrop="false"
>
  <mat-sidenav
    #leftSideNav
    id="layout-left-sidenav"
    mode="side"
    role="navigation"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="formations">Formations</a>
      <a mat-list-item routerLink="enrollments">Enrollments</a>
      <a mat-list-item routerLink="settings">Settings</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav
    #rightSideNav
    id="layout-right-sidenav"
    mode="over"
    position="end"
    role="navigation"
  >
    <button
      mat-raised-button
      (click)="logout()"
    >
      <mat-icon>
        logout
      </mat-icon>
      Logout

    </button>

  </mat-sidenav>

</mat-sidenav-container>
