<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <form-field
    [form]="loginForm"
    label="Email"
    [control]="email"
    type="email"
    autocomplete="email"
    [error]="getEmailErrorMessage()"
  ></form-field>

  <form-field
    [form]="loginForm"
    label="Password"
    [control]="password"
    type="password"
    autocomplete="current-password"
    [error]="getPasswordErrorMessage()"
  ></form-field>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!loginForm.valid"
  >
    Login
  </button>
</form>
