.expanded-row-line {
  height: 0;
}

.expanded-content {
  overflow: hidden;

  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2em;

}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}
