.expanded-row-line {
  height: 0;
}

.expanded-content {
  overflow: hidden;

  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2em;

}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.status-message-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;

  :first-child {
    font-size: 1.4em;
  }

  :last-child {
    font-size: 1.2em;
  }
}

#filter-row {
  padding: 1em;
  display: flex;
  flex-direction: row;
  gap: 2em;

  > * {
    margin: auto 0 auto 0;
  }
}
