<ng-container
  *ngIf="enrollments | async as enrollments"
>
  <!-- Filters row -->
  <div id="filter-row">
    <span>
      Filters :
    </span>

    <mat-form-field
      *ngIf="statuses | async as statuses"
      subscriptSizing="dynamic"
    >
      <mat-label>
        Status
      </mat-label>
      <mat-select
        [formControl]="statusFilter"
      >
        <mat-option [value]="null">None</mat-option>
        <mat-option
          *ngFor="let status of statuses"
          [value] = "status"
        >
          {{ status.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      *ngIf="formations | async as formations"
      subscriptSizing="dynamic"
    >
      <mat-label>
        Formation
      </mat-label>
      <mat-select
        [formControl]="formationFilter"
      >
        <mat-option [value]="null">None</mat-option>
        <mat-option
          *ngFor="let formation of formations"
          [value] = "formation"
        >
          {{ formation.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Export row, for admins -->
  <div
    id="export-row"
    *ngIf="user && user.isAdministrator()"
  >
    <span> Export: </span>

    <button
      mat-raised-button
      color="accent"
      (click)="export('csv')"
    >
      CSV
    </button>

    <button
      mat-raised-button
      color="accent"
      (click)="export('json')"
    >
      JSON
    </button>
  </div>

  <table
    mat-table
    multiTemplateDataRows
    [dataSource]="enrollments"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="formation">
      <th mat-header-cell *matHeaderCellDef> Formation </th>
      <td mat-cell *matCellDef="let enrollment">
        {{ enrollment.formation.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let enrollment">
        {{ enrollment.status.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let enrollment">
        <!-- Expand button -->
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === enrollment ? null : enrollment); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== enrollment">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === enrollment">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded content -->
    <ng-container matColumnDef="expanded-row">
      <td mat-cell *matCellDef="let enrollment" [attr.colspan]="tableColumns.length">
        <div
          class="expanded-content"
          [@detailExpand]="enrollment == expandedElement ? 'expanded' : 'collapsed'"
        >
          <user-card
            [user]="enrollment.user"
          >
          </user-card>

          <form
            *ngIf="enrollment.status.isPending()"
            [formGroup]="updateForm"
            (ngSubmit)="onUpdateSubmit()"
          >
            <mat-form-field
              *ngIf="statuses | async as statuses"
            >
              <mat-label>
                Status
              </mat-label>
              <mat-select
                [formControl]="updateStatusField"
              >
                <mat-option
                  *ngFor="let status of statuses"
                  [value] = "status"
                >
                  {{ status.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Message</mat-label>
              <textarea
                [formControl]="updateMessageField"
                matInput
                placeholder="Ex. You don't have the prerequisite for...">
              </textarea>
            </mat-form-field>

            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="!updateForm.valid"
            >
              Update
            </button>
          </form>

          <div
            *ngIf="!enrollment.status.isPending()"
            class="status-message-container"
          >
            <p>Message</p>
            <p>{{enrollment.message ?? ''}}</p>
          </div>

        </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="tableColumns"
    >
    </tr>

    <tr
      mat-row
      *matRowDef="let enrollment; columns: tableColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === enrollment"

    >
    </tr>

    <tr
      mat-row
      *matRowDef="let row; columns: ['expanded-row']"
      class="expanded-row-line"
    >
    </tr>
  </table>

</ng-container>
