
:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "navbar"
    "sidebar"
    "footer"
  ;

  > mat-toolbar {
    grid-area: navbar;

    > section.right {
      margin-left: auto;
    }
  }

  > mat-sidenav-container {
    grid-area: sidebar;

    // Aside
    > mat-sidenav {}

    // Main
    > mat-sidenav-content {
      padding: 2em;
    }
  }

  > footer {
    grid-area: footer;
  }
}
