:host {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto 0 auto;

  > mat-tab-group {

    > mat-tab {
      background-color: blue;
    }
  }
}

.wrapper-formations {
  padding: 2em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}



.formation-accordion {
  mat-action-row {
    place-content: center;
  }
}

