<mat-form-field
  *ngIf="statuses | async as statuses"
>
  <mat-label>
    Filter by status:
  </mat-label>
  <mat-select
    [formControl]="selectedStatuses"
    multiple
  >
    <mat-option
      *ngFor="let status of statuses"
      [value] = "status"
    >
      {{ status.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<ng-container
  *ngIf="filteredEnrollments | async as enrollments"
>
  <table
    mat-table
    [dataSource]="enrollments"
  >
    <ng-container matColumnDef="formation-name">
      <th mat-header-cell *matHeaderCellDef> Formation Name </th>
      <td mat-cell *matCellDef="let enrollment"> {{ enrollment.formation.name }} </td>
    </ng-container>

    <ng-container matColumnDef="status-name">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let enrollment"> {{ enrollment.status.name }} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let enrollment">
        <button
          mat-raised-button
          color="warn"
          *ngIf="enrollment.isPending()"
          (click)="deleteEnrollment(enrollment)"
        >
          Cancel
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: tableColumns"></tr>
  </table>

</ng-container>



