<form
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <form-field
    [form]="registerForm"
    label="Name"
    [control]="name"
    type="text"
    autocomplete="name"
    [error]="getNameErrorMessage()"
  ></form-field>

  <form-field
    [form]="registerForm"
    label="Email"
    [control]="email"
    type="email"
    autocomplete="email"
    [error]="getEmailErrorMessage()"
  ></form-field>

  <form-field
    [form]="registerForm"
    label="Password"
    [control]="password"
    type="password"
    autocomplete="new-password"
    [error]="getPasswordErrorMessage()"
  ></form-field>

  <form-field
    [form]="registerForm"
    label="Password confirmation"
    [control]="passwordConfirmation"
    type="password"
    autocomplete="new-password"
    [error]="getPasswordConfirmationErrorMessage()"
  ></form-field>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!registerForm.valid"
  >
    Sign up
  </button>
</form>
